[submodule "backend-service-ecommerce"]
	path = backend-service-ecommerce
	url = https://github.com/Dedpy/backend-service-ecommerce.git
[submodule "frontend-service-ecommerce"]
	path = frontend-service-ecommerce
	url = https://github.com/Dedpy/frontend-service-ecommerce.git
